{{>listeNomsVip}}



<div id="infosVIP">


    <img class="imageVip1" src="/images/vip/{{photoProfil.PHOTO_ADRESSE}}"al="{{infosVip.VIP_PRENOM}} {{infosVip.VIP_NOM}}">
    <label> <b>Date de naissance :</b> {{dateFormat infosVip.VIP_NAISSANCE "dddd, MMMM Do YYYY, h:mm:ss a"}} </label> <br>
    <label> <b> Nationalité :</b>  {{infosVip.NATIONALITE_NUMERO}}</label><br>
    <label> <b> Sexe :</b>  {{infosVip.VIP_SEXE}} </label><br>
    <label> <b> Qui-suis-je ? :</b> {{infosVip.VIP_TEXTE}} </label><br>
    <label> <b> Ajouter le :</b>  {{infosVip.VIP_DATE_INSERTION}} </label><

</div>

</h1>
